@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #579ee0;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 1em 0;
}

body {
    font-family: "Roboto", sans-serif;
}
