#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color:white;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-top: 1px solid #f1f3f9;
    border-bottom: 1px solid #e9e6e6;
    box-shadow: 1px 1px 5px #cecece;
    display: block;
    z-index: 1000;
}
  
#topnav .logo {
    float: left;
    color: black;
}

#topnav .container {
    width: auto;
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
  
#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 28px 20px;
    height: 18px;
}
  
#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
  
#topnav .navbar-toggle span:last-child {
    margin-bottom: 0;
}
  
#topnav .navbar-toggle.open span {
    position: absolute;
}
  
#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
  
#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}
  
#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
  
#topnav .navbar-toggle.open span:hover,
#topnav .navbar-toggle.open span.active {
    background-color: #2f55d4;
}
  
#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus,
#topnav .navbar-toggle .navigation-menu > li > a:hover, #topnav .navbar-toggle:focus {
    background-color: transparent;
}
  
#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#topnav .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}
  
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a {
    color: #2f55d4 !important;
}
  
#topnav .navigation-menu > li > a {
    display: block;
    color: black;
    font-size: 13px;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Nunito", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
  
#topnav .navigation-menu > li > a:hover, 
#topnav .navigation-menu > li > a:active {
    color: #2f55d4;
}
  
#topnav .menu-extras {
    float: right;
}
  
.logo {
    font-weight: 500;
    font-size: 40px;
    padding: 0 20px;
    letter-spacing: 1px;
    line-height: 56px;
}
  
@media (min-width: 992px) {
    #topnav .navigation-menu {
        display: flex ;
        justify-content: flex-end;
    }

    #topnav .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 62px;
    }

    #topnav .navigation-menu > li:hover > a,
    #topnav .navigation-menu > li.active > a {
        color: #2f55d4 !important;
    }
    #topnav .navbar-toggle {
        display: none;
    }
    #topnav #navigation {
        display: block !important;
    }
}
  
@media (max-width: 991px) {
    #topnav {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
                box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        min-height: 74px;
    }
    #topnav .logo {
        display: inline-block !important;
        margin: 5px 0 0 5px;
        font-size: 50px;
    }

    #topnav #navigation {
        max-height: 400px;
    }

    #topnav .navigation-menu {
        float: none;
    }
    #topnav .navigation-menu > li {
        float: none;
    }
    #topnav .navigation-menu > li > a {
        color: black;
        padding: 10px 20px;
        text-align: center;
    }
    #topnav .navigation-menu > li > a:after {
        position: absolute;
        right: 15px;
    }
    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li > a.active {
        color: #2f55d4;
    }
    #topnav .menu-extras .menu-item {
        border-color: #8492a6;
    }
    #topnav .navbar-header {
        float: left;
    }
    #topnav .has-submenu.active a {
        color: #2f55d4;
    }
    #navigation {
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #f1f3f9;
        border-bottom: 1px solid #f1f3f9;
        background-color: #ffffff;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}
  
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}
  
@media (max-width: 375px) {
    #topnav .navbar-toggle .lines {
        margin-right: 0 !important;
        color:black;
    }
}
