
.MuiCard-root {
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
    background-color: lightgrey;
}

.MuiCard-expand{
    transform: rotate(0deg);
    margin-left: auto;
    transition-duration: 1s;
}

.MuiCard-expandOpen{
    transform: rotate(180deg);
}

