#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #df4c4c;
}

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: #ffffff;
}

#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: #8b2929;
    color: #ffffff;
    font-size: 1.1rem;
}

#header .auth-options button:hover {
    background-color: #c74d4d;
}

@media screen and (max-width: 550px) {
    #header .title {
        font-size: 1.2rem;
    }

    #header .auth-options button {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }
}